.community-main{
  height: 80vh;
  margin-top: 5vh;
  overflow-y: scroll;
}

.diary-lists{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
.list{
  height: 27vh;
  margin: 2vh 2.3vw;
  text-align: center;
}
.community-image{
  height: 15vh;
  width: 15vw;
}