.diary-contents{
  font-family: 'M PLUS Rounded 1c', sans-serif;
  background-color: rgb(250, 245, 234);
  height: 100vh;
  width: 100vw;
}
/*トップページのヘッダー部分*/
.diary-header{
  height: 10vh;
}
.top-page-header{
  background-color: #b9f9fc;
  font-size: 50px;
  font-weight: bold;
  width: 100vw;
  text-align: center;
  animation-name:     my-fade-in;
  animation-duration: 1s;
}

.header-lists{
  display: flex;
  padding: 0 10px;
  animation-name:     my-fade-in;
  animation-duration: 1s;
}
.user-nickname{
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}
.logout{
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}
.chat-btn{
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold
}
.community-btn{
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold
}
.create-btn{
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold
}

/*トップページのカレンダー部分*/
.main{
  margin-top: 3vh;
  height: 87vh;
  overflow-y: scroll;
  animation-name:     my-fade-in;
  animation-duration: 2s;
}
.calendar-heading{
  text-align: center;
  margin-bottom: 10px;
}
.calender-link{
  text-decoration: none;
  color: #333333;
  font-weight: bold;
  padding: 10px;
}
.calendar-title{
  font-size: 25px;
}

.img{
  height: 9vh;
  width: 9vw;
  border: solid 1px #616161;
}

input:checked+.img {
  opacity: 5;
}
.main .img {
   -webkit-transition: 0.5s;
   transition: 0.5s;
  }
.main .img:hover {
   -webkit-transform: rotate(1deg) scale(1.2);
   transform: rotate(1deg) scale(1.2);
  }