.diary-create-contents{
  display: flex;
  background-image: url("../sample4.jpeg");
  align-items: center;
  flex-direction: column;
  width:100vw;
  height:100vh;
}

.diary-create-header{
  background-color: #a0faff;
  font-size: 50px;
  width: 100vw;
  height: 10vh;
  text-align: center;
}

.diary-create-main{
  width: 100vw;
  height: 80vh;
  text-align: center;
  margin: 50px 0 0 0;
}
.diary-create-title{
  font-size: 25px;
}
.img-upload{
  padding: 5px;
  display: flex;
  justify-content: center;
}
.preview{
  width: 9vw;
  height: 9vh;
}
.diary-text{
  width: 70vw;
  height: 50vh;
  padding: 5px;
}
.diary-create-bottun{
  text-align: center;
}
.bottun{
  background-color: #a0faff;
  border: 1px solid #a0faff;
  padding: 5px
}

.diary-create-footer{
  background-color: #a0faff;
  width: 100vw;
  height: 10vh;
  text-align: center;
}