.search-form{
  text-align: center;
  animation-name:     my-fade-in;
  animation-duration: 2s;
}
.search-input{
  margin: 2vh 0;
  width: 20vw;
  text-decoration: none;
  padding: 1vh 1vw;
  border: solid 1px rgb(218, 187, 130);
  border-radius: 1vh;
  box-shadow: 0 10px 30px #acacac;
}
.search-btn{
  text-decoration: none;
  border-radius: 100vh;
  background-color: rgb(250, 245, 234);
  border: 2px solid wheat;
  color: #616161;
  padding: 0.7vh 1vw;
  box-shadow: 0 10px 30px #acacac;
}