.diary-show-contents{
  font-family: 'M PLUS Rounded 1c', sans-serif;
  display: flex;
  position: absolute;
  background-color: rgb(250, 245, 234);
  align-items: center;
  flex-direction: column;
  width: 100vw;
  text-align: center;
  overflow-y: scroll;
}

.diary-show-main{
  height: 77vh;
  padding-top: 2vh;
}
.diary-show-title{
  position: relative;
  width: 70vw;
  font-size: 25px;
  font-weight: bolder;
  margin-bottom: 1.5vh;
  border-top: solid 3px #616161;
  border-bottom: solid 3px #616161;
}
.show-title{
  width: 70vw;
  font-family: 'Noto Serif JP', sans-serif;
  border: solid 1px #616161;
  border-radius: 1vh;
  background-color: whitesmoke;
  text-align: left;
  margin-top: 0.5vh;
  padding: 5px;
  box-shadow: 0 10px 15px rgb(201, 201, 201);
}
.show-image{
  flex-wrap: wrap;
  text-align: center;
}
input:checked+.img {
  opacity: 5;
}
.show-image .img {
   -webkit-transition: 0.5s;
   transition: 0.5s;
  }
.show-image .img:hover {
   -webkit-transform: rotate(1deg) scale(1.5);
   transform: rotate(1deg) scale(1.5);
  }

.show-text{
  font-family: 'Noto Serif JP', sans-serif;
  border: solid 1px #616161;
  border-radius: 1vh;
  background-color: whitesmoke;
  width: 70vw;
  height: 40vh;
  padding: 5px;
  margin: 3vh 0;
  text-align: left;
  box-shadow: 0 10px 15px rgb(199, 199, 199);
}

.comment-form{
  font-family: 'Noto Serif JP', sans-serif;
  background-color: whitesmoke;
  border: solid 1px rgb(206, 206, 206);
  border-radius: 1vh;
  width: 25vw;
  height: 5vh;
  padding: 5px;
  resize: none;
  box-shadow: 0 15px 30px rgb(201, 201, 201);
}

.diary-show-footer{
  height: 15vh;
}
.sns{
  margin-top: 2vh;
}
.sns-t{
  text-decoration: none;
  font-size: large;
  font-weight: bolder;
  padding: 0.5vh 3vw;
  color: rgb(96, 194, 233);
  border: solid 1.5px rgb(96, 194, 233);
  border-radius: 1vh;
  box-shadow: 0 5px 5px rgb(96, 194, 233);
  margin-right: 3vw;
}
.sns-l{
  text-decoration: none;
  font-size: large;
  font-weight: bolder;
  padding: 0.5vh 4vw;
  color: rgb(108, 237, 108);
  border: solid 1.5px rgb(108, 237, 108);
  border-radius: 1vh;
  box-shadow: 0 5px 5px rgb(108, 237, 108);
}