.user-form{
  font-family: 'M PLUS Rounded 1c', sans-serif;
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.header{
  font-size: 50px;
  font-weight: bold;
  background: linear-gradient(to right, rgb(160, 253, 244) 0%,rgba(131, 236, 248, 0.679) 30%,rgba(67, 154, 235, 0.337) 100%);/* グラデーション指定 */
  height: 10vh;
}
.user-main{
  height: 90vh;
  background-color: rgb(250, 245, 234);
  overflow-y: scroll;
}
.login-title{
  font-size: 40px;
  font-weight: bolder;
  height: 10vh;
  padding: 30px 0 0 0;
}
.email{
  margin-top: 3vh;
  height: 20vh;
}

.form-name{
  font-size: 30px;
  border: 20px 0;
}

.login-form{
  padding: 5px 10px;
  margin: 15px 0;
  width: 20vw;
}

.field{
  margin: 15px;
}
.login-actions{
  margin: 5vh;
}
.devise-links{
  margin-bottom: 5vh;
}